body {
	background: url("../assets/bg_picture.jpeg") no-repeat fixed center/ 100% 100%;
	margin: 0;
	font-family: "Aktiv Grotesk", "sans-serif";
	padding: 0;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		height: 100vh;
		background: transparent;
		backdrop-filter: blur(5px);
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 25%;
		height: 100vh;
		background: transparent;
		backdrop-filter: blur(5px);
	}
}

#bg_pic {
	position: relative;
	z-index: 1;
	text-align: center;
	img {
		height: 100vh;
		object-fit: contain;
		vertical-align: middle;
	}
}
